<div class="body">
   <nav aria-label="breadcrumb invisible">
      <ol class="breadcrumb">
           <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
  </nav>
  {{outlet}}
</div>